noark-extraction-validator/src/main/resources/noark53/noark53-validation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="validation" type="validation"/>

  <xs:complexType name="validation">
    <xs:sequence>
      <xs:element name="target" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="rule" type="rule" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rule">
    <xs:sequence>
      <xs:element name="title" type="title" minOccurs="1" maxOccurs="1" />
      <xs:element name="group" type="group" minOccurs="1" maxOccurs="1" />
      <xs:element name="queries" type="queries" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="queries">
    <xs:sequence>
      <xs:element name="info" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="control" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="errors" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="group">
    <xs:restriction base="xs:string">
      <xs:enumeration value="arkivstruktur"/>
      <xs:enumeration value="loependejournal"/>
      <xs:enumeration value="offentligjournal"/>
      <xs:enumeration value="arkivuttrekk"/>
      <xs:enumeration value="endringslogg"/>
      <xs:enumeration value="common"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="title">
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>